In [1]:
# Python SQL toolkit and Object Relational Mapper
import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float
from sqlalchemy import inspect

In [2]:
#csv to df
access_log = "cleaned_access_logs.csv"
responses = "Hitesh_IP_demographics.csv"
access_logs_df = pd.read_csv(access_log)
responses_df = pd.read_csv(responses, encoding='latin-1')

In [3]:
#convert dfs to dicts in order to create classes
measurement = access_logs_df.to_dict(orient='records')
station = responses_df.to_dict(orient='records')

In [14]:
access_logs_df.head(1)

,Unnamed: 0,ip,DateTime,Method,URL,ResponseCode,BytesSent,Referer,UserAgent
0,14,62.170.2.205,2018-04-08 07:19:25,HEAD,http://198.27.242.168:80/phpmyadmin/,404,220,-,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...

In [15]:
responses_df.head(1)

,city,connection_isp,continent_code,continent_name,country_code,country_name,currency_code,ip,latitude,location_capital,longitude,region_name,time_zone_code,time_zone_current_time,time_zone_gmt_offset,time_zone_id,time_zone_is_daylight_saving,type,zip
0,Priolo Gargallo,Linkem spa,EU,Europe,IT,Italy,EUR,62.170.2.205,37.15,Rome,15.1833,Sicily,CEST,2018-06-09T06:01:53+02:00,7200.0,Europe/Rome,1.0,ipv4,96010

In [18]:
# Create an engine to a SQLite database file called `customers.sqlite`
engine = create_engine("sqlite:///apache_project.sqlite")

#start session
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [19]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [20]:
# Use `declarative_base` from SQLAlchemy to model the demographics table as an ORM class
# Make sure to specify types for each column, e.g. Integer, Text, etc.
# http://docs.sqlalchemy.org/en/latest/core/type_basics.html
Base = declarative_base()

class Access(Base):
    __tablename__ = 'access_log'

    ip = Column(Integer, primary_key=True)
    Date = Column(String)
    Method = Column(Text)
    URL = Column(Text)
    ResponseCode = Column(Float)
    Referer = Column(Float)
    BytesSent = Column(Float)
    UserAgent = Column(String)
    

    def __repr__(self):
        return f"id={self.ip}, name={self.access_log}"


class Response(Base):
    __tablename__= 'responses'
    
    ip = Column(Integer, primary_key=True)
    city = Column(Text)
    connection_isp = Column(Text)
    continent_code = Column(Text)
    continent_name = Column(Text)
    country_code = Column(Text)
    country_name = Column(Text)
    currency_code = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    location_capital = Column(Text)
    region_name = Column(Text)
    time_zone_code = Column(Text)
    time_zone_current_time = Column(Text)
    time_zone_gmt_offset = Column(Float)
    time_zone_id = Column(Text)
    time_zone_is_daylight_saving = Column(Float)
    type = Column(Text)
    zip = Column(Text)
    
    
    def __repr__(self):
        return f"id={self.ip}, name={self.responses}"

In [21]:
# interface with engine via metadata
Base.metadata.create_all(engine)
engine.table_names()

['access_log', 'responses']

In [22]:
# avoid duplicate tables
conn.execute(Access.__table__.delete())
conn.execute(Response.__table__.delete())

In [23]:
# check that all the info is there
Access.__table__

Response.__table__

Table('responses', MetaData(bind=None), Column('ip', Integer(), table=<responses>, primary_key=True, nullable=False), Column('city', Text(), table=<responses>), Column('connection_isp', Text(), table=<responses>), Column('continent_code', Text(), table=<responses>), Column('continent_name', Text(), table=<responses>), Column('country_code', Text(), table=<responses>), Column('country_name', Text(), table=<responses>), Column('currency_code', Text(), table=<responses>), Column('latitude', Float(), table=<responses>), Column('longitude', Float(), table=<responses>), Column('location_capital', Text(), table=<responses>), Column('region_name', Text(), table=<responses>), Column('time_zone_code', Text(), table=<responses>), Column('time_zone_current_time', Text(), table=<responses>), Column('time_zone_gmt_offset', Float(), table=<responses>), Column('time_zone_id', Text(), table=<responses>), Column('time_zone_is_daylight_saving', Float(), table=<responses>), Column('type', Text(), table=<responses>), Column('zip', Text(), table=<responses>), schema=None)

In [24]:
conn.execute(Response.__table__.insert(), responses)
conn.execute(Access.__table__.insert(), access_log)

AttributeError: 'list' object has no attribute 'keys'

In [25]:
engine.table_names()

['access_log', 'responses']

In [26]:
engine.execute("select * from responses limit 1").fetchall()

[]

In [27]:
Response.__table__

Table('responses', MetaData(bind=None), Column('ip', Integer(), table=<responses>, primary_key=True, nullable=False), Column('city', Text(), table=<responses>), Column('connection_isp', Text(), table=<responses>), Column('continent_code', Text(), table=<responses>), Column('continent_name', Text(), table=<responses>), Column('country_code', Text(), table=<responses>), Column('country_name', Text(), table=<responses>), Column('currency_code', Text(), table=<responses>), Column('latitude', Float(), table=<responses>), Column('longitude', Float(), table=<responses>), Column('location_capital', Text(), table=<responses>), Column('region_name', Text(), table=<responses>), Column('time_zone_code', Text(), table=<responses>), Column('time_zone_current_time', Text(), table=<responses>), Column('time_zone_gmt_offset', Float(), table=<responses>), Column('time_zone_id', Text(), table=<responses>), Column('time_zone_is_daylight_saving', Float(), table=<responses>), Column('type', Text(), table=<responses>), Column('zip', Text(), table=<responses>), schema=None)