In [1]:
import pandas as pd
import numpy as np

In [2]:
#read in csv to df
responses_df = pd.read_csv('/home/spinster/bootcamp/homework/apache/infiles/Hitesh_IP_demographics.csv')

In [3]:
#drop things not used
minimum_requirements_df = responses_df.drop(['city',
                                            'connection_isp',
                                            'continent_code',
                                            'continent_name',
                                            'country_code',
                                            'country_name',
                                            'location_capital',
                                            'region_name',
                                            'time_zone_code',
                                            'time_zone_current_time',
                                            'time_zone_id',
                                            'time_zone_is_daylight_saving',
                                            'type',
                                            'zip',
                                            'time_zone_gmt_offset',
                                            'currency_code'],
                                            axis=1)

In [4]:
#dropna
minimum_requirements_df = minimum_requirements_df.dropna(how='any', axis = 0)

In [5]:
# verify columns
minimum_requirements_df.head()

               ip  latitude  longitude
0    62.170.2.205   37.1500    15.1833
1   108.41.39.187   40.5833   -73.9240
2  216.244.66.194   47.4891  -122.2908
3  113.96.223.207   23.1167   113.2500
4   111.206.36.15   39.9289   116.3883

In [6]:
# check dtypes and NaN
minimum_requirements_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7724 entries, 0 to 7728
Data columns (total 3 columns):
ip           7724 non-null object
latitude     7724 non-null float64
longitude    7724 non-null float64
dtypes: float64(2), object(1)
memory usage: 241.4+ KB

In [7]:
#convert to csv for use in db
minimum_requirements_df.to_csv('/home/spinster/bootcamp/homework/apache/infiles/coordinates.csv', sep=',', header=True)